{% extends 'base.html' %}

{% block content %}

<div class="main">
  <div class="container">
   <div class="picture">
    </div>
    <div class="bot-view">
      <div class="date">
        March 22, 2016 &nbsp / &nbsp<span class="under">Estonia</span>
      </div>
      <hr class="line"/>
      <div class="info">
        <div>
          <p>what an amazing photo</p>
        </div>
      </div>
      <div class="footer">
        <p>Categories: </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
